<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Location</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3-12 text-center">
                <div class="Flexible-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13333.31898253382!2d3.3540058499999996!3d6.519221099999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63a70ffffe080bee!2sLagos+University+Teaching+Hospital!5e0!3m2!1sen!2sng!4v1475410720333" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
