<section class="no-padding" id="volunteer">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-8">
                    <img class="img-responsive" src="img/dolapo.jpg" alt="">
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
    <aside class="bg-dark" id="volunteering">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Teach a Child!</h2>
            <p class="text-muted">We are looking for volunteers to help us teach our kids programming in the CWB Scratch Code Camp. You will be paired with a child from a secondary school in an underserved area and tutor them for five consecutive weekends - starting from the 5th of november. You will be trained for this programme, all we require from you is to have a laptop and your time (a couple of hours) on weekends.  You will get a certificate acknowledging you volunteered, but most importantly, you will have fun, while being a part of a child's future. </p>
            <a href="http://eepurl.com/bCj73r" class="btn btn-default btn-xl wow tada">Volunteer Now!</a>
        </div>
    </div>
</aside>

</section>
