<section class="no-padding" id="volunteer">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-4">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-sm-4">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-sm-4">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Teach a Child!</h2>
            <p class="text-muted">Spend an hour with a Child in public School this December, tutoring them in the <a href="https://hourofcode.com/" target="_blank">Hour of Code</a>, it doesn't matter whether you can find your way around a Computer or not, all that is required of you is either your Laptop, Tablet or Smart Phone. Together let's start building this <a href="http://www.theguardian.com/technology/2014/may/12/silicon-valley-geeks-coders-programmers" target="_blank">Army</a>. You will get a certificate acknowledging you volunteered, but most importantly, you will have fun, we promise. </p>
            <!--    <a href="http://eepurl.com/bCj73r" class="btn btn-default btn-xl wow tada">Volunteer Now!</a> -->
        </div>
    </div>
</aside>
